
.header-wrapper {
    width: 100%;
    height: 90px;
    min-height: 90px;
    background-image: linear-gradient(130deg, rgb(202,11,74) 0%, rgb(242,22,94) 100%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    color:white;
    border-bottom: 2px solid #C16D28;
}
.header-container {
    max-width: 1200px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.header-title {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: border-bottom 300ms;
}
.header-title:hover {
    border-bottom: 3px solid rgba(255,255,255,1);
}
.header-navigation {
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    font-style: italic;

    flex-grow: 2;
    margin-right: 10px;
    margin-left: 40px;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    column-gap: 20px;
}
.header-navigation > ._nav-item-wrapper {
    height: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    border-bottom: 3px solid rgba(255, 255, 255, 0);

    transition: border-bottom 300ms;
}
.header-navigation > ._nav-item-wrapper:hover {
    border-bottom: 3px solid rgba(255,255,255,1);
}
@media screen and (max-width: 1240px) {
    .header-container {
        padding: 0 20px;
    }
}